/* Header.css */
.top-header {
  background: rgb(53, 51, 204);
  background: linear-gradient(
    180deg,
    rgba(53, 51, 204, 1) 0%,
    #000123 100%
  );

  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 2rem; 
}

.top-header_logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem; 
  padding-left: 1rem;
}

.logo-wrapper_logo {
  width: 4.2rem; 
  height: auto; 
}

.top-header_buttons-wrapper {
  margin-left: auto;
  display: flex;
  gap: 1.5rem; 
}

.logo-wrapper_text {
  font-size: 2rem; 
  padding-left: 0.5rem;
}


.wallet-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 0.9rem; 
  width: 3rem; 
  height: 3rem; 
}

.wallet-icon-img {
  width: 100%; 
  height: auto; 
}

.wallet-button {
  font-size: 1.2rem; 
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1.5rem; 
  border-radius: 12rem;
  outline: none;
  border: none;
  background-color: yellow;
  display: flex;
  align-items: center;
  margin-right: 1rem; 
}

.wallet-button.connected {
  color: rgb(0, 0, 0);
  font-size: 1.4rem; 
}
