.btn {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 0.65rem;
    border-radius: 12rem;
    outline: none;
    border: none;
    background-color: yellow;
    cursor: pointer;
    
  }
  
  .btn.grey {
    background-color: #cec8d1;
  }
  
  .btn.big {
    font-size: 1.3rem;
    padding: 2rem 6rem;

  }

  /* Estilos cuando el botón esté conectado */
  .btn.connected {
    color: rgb(0, 0, 0);
  }

  